<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>商品詳細</title>
	</head>
	<body>
		<table th:object="${item}">
			<tr>
				<th>商品名</th>
				<td>
					<span th:text="*{itemName}"></span>
				</td>
			</tr>
			<tr>
				<th>価格</th>
				<td>
					<span th:text="*{itemPrice}"></span>
					<span>円</span>
				</td>
			</tr>
			<tr>
				<th>販売者</th>
				<td>
					<span th:text="*{ornerName}"></span>
				</td>
			</tr>
			<tr>
				<th>コメント</th>
				<td>
					<span th:text="*{comment}"></span>
				</td>
			</tr>
		</table>
		<form th:action="@{/item-list}" method="post">
			<input type="hidden" name="userId" th:value="${userId}"/>
			<input type="submit" value="戻る"/>
		</form>
	</body>
</html>