<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>商品一覧</title>
	</head>
	<body>
		<h1>新着アイテム</h1>
		<table>
			<tr>
				<th>商品名</th>
				<th>価格</th>
			</tr>
			<tr th:each="item:${items}">
				<td>
					<span th:text="${item.itemName}"></span>
				</td>
				<td>
					<span th:text="${item.itemPrice}"></span>
					<span>円</span>
				</td>
				<td>
					<form th:action="@{/item-list/details}"  method="post">
						<input type="hidden" name="itemId" th:value="${item.itemId}"/>
						<input type="hidden" name="userId" th:value="${userId}"/>
						<input type="submit" value="詳細を確認"/>
					</form>
				</td>
			</tr>
		</table>
	</body>
</html>