/* フッターのスタイル */
footer {
  background-color: #333; /* ダークグレー */
  color: #fff; /* テキストカラーは白 */
  padding: 20px;
  text-align: center;
}

/* フッター内のリンクのスタイル */
footer a {
  color: #fff; /* リンクの色は白 */
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  color: #00bcd4; /* ホバー時は水色 */
}

/* マイページのボタンのスタイル */
footer .mypage-btn {
  background-color: #4CAF50; /* 緑 */
  color: #fff; /* 文字色は白 */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer .mypage-btn:hover {
  background-color: #45a049; /* ホバー時は少し濃い緑 */
}

/* 他のボタンのスタイル */
footer .other-btn {
  background-color: #4caf50; /* 青 */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer .other-btn:hover {
  background-color: #45a049; /* ホバー時の青 */
}
