.sidebar{
	position: fixed;
	display: block;
	top: 58px;
	bottom: 0;
	left: 0;
}

.main{
	position: fixed;
	display:block;
	top: 58px;
	bottom: 0;
	padding-left: 20px;
	overflow-y:auto;
	height:calc(100vh - 58px);
}

/* フッターのスタイル */
footer {
  background-color: #333; /* ダークグレー */
  color: #fff; /* テキストカラーは白 */
  padding: 20px; /* 上下左右の余白を調整 */
  text-align: center;
  font-size: 18px; /* テキストサイズを大きく */
  position: fixed; /* フッターの位置を固定 */
  bottom: 20px; /* ページ下からの位置を少し上げる */
  left: 0;
  right: 0;
}

footer .btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 30px; /* ボタンの内側余白を調整 */
  font-size: 16px; /* ボタンテキストサイズを調整 */
}

footer .btn:hover {
  background-color: #45a049;
}

