.sidebar{
	position: fixed;
	display: block;
	top: 58px;
	bottom: 0;
	left: 0;
}

/* ヘッダー全体のスタイル（すべての .header に適用） */
/* ヘッダーを固定配置で最大幅に */
header, .header {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    padding: 20px;
    margin: 0 0 20px 0;
    background-color: #eaeaea;
    color: #333;
    align-items: center;
    font-weight: bold;
}

/* 見出しのデザイン（すべての .header 内の h1 に適用） */
.header h1 {
  font-size: 1.75rem; /* h2のサイズを統一 */
  font-weight: bold; /* 太字 */
}

/* メッセージ */
.message {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
    text-align: center; /* メッセージを中央に配置 */
}

.main {
    position: absolute;
    top: 150px;
    bottom: 150px; /* フッターの高さ分だけ調整 */
    left: 0;
    right: 0;
    padding: 20px;
    overflow-y: auto; /* 縦スクロール可能にする */
    height: calc(100vh - 300px); /* 100vh から ヘッダー(150px)＋フッター(60px) を引いた高さ */
}

/* フッターのスタイル */
.footer {
  background-color: #eaeaea !important; /* 背景色を強制適用 */
  color: #fff !important; /* 文字色を強制適用 */
  /*padding: 20px !important;*/
  margin-top: 5% !important;
  text-align: center;
  font-size: 18px;
  position: fixed !important;
  bottom: 0 !important;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  /*gap: 15px; /* ボタン間の余白 */
  height: 10%;
  width: 100%;
}

.img-bottan {
	height: 100%;
	width: 100%;
	object-fit: fill;
}

/* フッター内のフォーム（ボタンを含む要素） */
.footer form {
  display: inline-block;
  margin: 0 10px; /* ボタンの左右に余白を追加 */
}