<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
	<head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<!--CSS読み込み-->
			<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
			<link rel="stylesheet" th:href="@{/css/item/itemList.css}">
			<link rel="stylesheet" th:href="@{/css/layout/layout.css}">
			<!--JS読み込み-->
			<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
			<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
			<title>通知一覧</title>
		</head>
	<body>
		<div layout:fragment="content">
			<header>
			    <h1 class="h1">通知</h1>
			</header>
			<!-- 通知がない場合に表示するメッセージ -->
			<div th:if="${#lists.isEmpty(notifications)}">
				<div class="message">
					通知はありません。
				</div>
			</div>
			
			<!-- 通知がある場合に表示する内容 -->
			<table th:unless="${#lists.isEmpty(notifications)}">
				<tr th:each="notification:${notifications}">
					<td>
						<span th:text="${notification.content}"></span>
					</td>
					<td>
						<form th:action="@{/notification/details}" method="post">
							<input type="hidden" name="userId" th:value="${muser.userId}"/>
							<input type="hidden" name="notificationId" th:value="${notification.notificationId}"/>
							<input type="submit" value="詳細を確認"/>
						</form>
					</td>
				</tr>
			</table>
			<form th:action="@{/mypage}" method="post">
				<input type="hidden" name="userId" th:value="${muser.userId}"/>
				<input type="submit" value="マイページへ"/>
			</form>
		</div>
	</body>
</html>