<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.repository.UserMapper">

	<!-- マッピング定義(ユーザ) -->
	<resultMap type="com.example.demo.domain.model.MUser" id="user">
		<id column="mailAddress" property="mailAddress" />
		<result column="password" property="password"/>
		<result column="name" property="name"/>
		<result column="role" property="role"/>
		<result column="point" property="point"/>
	</resultMap>
	
    <!--  <insert id="insertOne">
        Insert into m_user (-->
    <insert id="insertOne">Insert into m_user (
            userId,
            mailAddress,
            password,
            name,
            role,
            point
        )
        values (
            #{userId},
            #{mailAddress},
            #{password},
            #{name},
            #{role},
            #{point}
        )</insert>
        
     <!-- ユーザーIDのマックス値を取得 -->
    <select id="getMaxUserId" resultType="String">
    SELECT userId FROM M_USER ORDER BY userId DESC LIMIT 1
	</select>
    
    <!-- ユーザー複数権取得 -->
    <select id="findMany" resultType="MUser">
    SELECT * FROM M_USER 
    </select>
    
    <select id="findOne" resultMap="user">
    SELECT * FROM M_USER WHERE USERID = #{userId}
    </select>
    
    <!-- ユーザ1件更新 -->
    <update id="updateOne">
    UPDATE m_user
    SET NAME = #{name}
    WHERE MAILADDRESS = #{mailAddress}
	</update>

    
    <delete id="deleteOne">
    DELETE FROM M_USER WHERE MAILADDRESS = #{mailAddress}
    </delete>

    <!-- ユーザを1件取得 -->
    <select id="findByMailAddress" resultType="MUser">
        SELECT * FROM M_USER WHERE mailAddress = #{mailAddress}
    </select>
    
    <update id="addPoint">
    	UPDATE M_USER
    	SET point = point + #{point}
    	WHERE userId = #{userId}
	</update>
	
</mapper>