<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<style>
		.container-fluid {
			width: 100%;
			height: 10%;
		}
		.btn btn-link pull-right navbar-brand {
			position: fixed;
			right: 0%;
		}
	</style>
</head>
<body>
	<nav layout:fragment="header"
	class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-dark">
	<div class="container-fluid">
		<div class="navbar-header">
			<form th:action="@{/mypage}" method="post" style="display:inline;">
				<input type="hidden" name="userId" th:value="${muser.userId}" />
				<input type="image" src="/uploaded-images/icon.png" alt="フリマアプリ" style="width: 10%;"/>
			</form>
			<!--<a class="navbar-brand" href="#">フリマアプリ</a>-->
		</div>
		
		
		<form method="post" th:action="@{/logout}"sec:authorize="isAuthenticated()">
			<button class="btn btn-link pull-right navbar-brand" type="submit">
				ログアウト
			</button>
		</form>
		
		<!--
		<form method="get" th:action="@{/login}"sec:authorize="isAnonymous()">
			<button class="btn btn-link pull-right navbar-brand" type="submit">
				ログイン
			</button>
		</form>-->
				
		
	</div>
	</nav>
</body>
</html>