<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
<div layout:fragment="menu" class="bg-light">
    <ul class="nav nav-pills nav-stacked">
		<li role="presentation" th:if="${#authentication.principal.authorities.?[authority == 'ROLE_ADMIN'].size() > 0}">
		    <a class="nav-link" th:href="@{'/list'}">ユーザ一覧</a>
		</li>
    </ul>
</div>
</body>
</html>
