<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<title>出品完了</title>
		</head>
	<body>
		<div layout:fragment="content">
		<h1>出品が完了しました!</h1>
		<form th:action="@{/sales/sales-form}" method="post">
			<input type="hidden" name="userId" th:value="${muser.userId}"/>
			<input type="submit" value="続けて出品"/>
		</form>
		<form th:action="@{/item-list}" method="post">
			<input type="hidden" name="userId" th:value="${muser.userId}"/>
			<input type="submit" value="商品一覧へ"/>
		</form>
	</body>
</html>