<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--JS読み込み-->
		<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
		<title>ユーザ詳細画面</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="header border-bottom">
				<h1 class="h2">ユーザ詳細</h1>
			</div>
			<form id="user-detail-form" method="post" th:action="@{/detail}"
			     class="form-signup" th:object="${userDetailForm}">
				 <input type="hidden" th:field="*{mailAddress}"/>
			 <!--ユーザ詳細情報-->
			 <table class="table table-striped table-bordered tale-hover">
				<tbody>
					<tr>
						<th class="w-25">メールアドレス</th>
						<td th:text="*{mailAddress}"></td>
					</tr>
					<tr>
						<th>パスワード</th>
					<td>
						<input type="text" class="form-control" th:field="*{password}"/>
					</td>
					</tr>
					<tr>
						<th>ニックネーム</th>
					<td>
						<input type="text" class="form-control" th:field="*{name}"/>
					</td>
					</tr>
				</tbody>
			 </table>
			 <!--ボタン-->
			 <div class="text-center">
				<!--削除ボタン-->
				<button class="btn btn-danger" type="submit" name="delete">
					削除
				</button>
				<!--更新ボタン-->
				<button class="btn btn-primary" type="submit" name="update">
					更新
				</button>
				</div>
			 </form>
			 
			 <!-- 販売中の商品 -->
			 <h1> 販売中の商品</h1>
			 <table class="table table-striped table-bordered tale-hover">
			 	<tr>
			 		<th class="w-25">商品名</th>
			 		<th>価格</th>
					<th>コメント</th>
					<th></th>
					<th></th>
			 	</tr>
			 	<tr th:each="item:${itemList}">
			 		<td>
			 			<span th:text="${item.itemName}"></span>
			 		</td>
			 		<td>
			 			<span th:text="${item.itemPrice}"></span>
			 			<span>円</span>
			 		</td> 
			
					<form th:action="@{/mypage/update-item}" method="post">
						<td>
							<input type="text" name="itemName" th:value="${item.itemName}"/>
							<!-- <div th:errors="${item.itemName}"></div> -->
						</td>
						<td>
							<input type="text" name="itemPrice" th:value="${item.itemPrice}"/>
							<span>円</span>
							<!-- <div th:errors="*{itemPrice}"></div> -->
						</td>
						<td>
							<input type="text" name="comment" th:value="${item.comment}"/>
							<!-- <div th:errors="*{comment}"></div> -->
						</td>
						<td>
							<input type="hidden" name="userId" th:value="${userDetailForm.userId}"/>
							<input type="hidden" name="itemId" th:value="${item.itemId}"/>
							<button class="btn btn-primary" type="submit" name="update">
								更新
							</button> 
						</td>
						<td>
							<button class="btn btn-danger" type="submit" name="delete">
								削除
							</button> 
						</td>
					</form>
			 	</tr>
			 </table>
			 <form th:action="@{/mypage}" method="post">
				<input type="hidden" name='userId' th:value="${userDetailForm.userId}"/>
				<button class="btn btn-primary" type="submit">
					戻る
				</button>
			 </form>
		</div>
	</body>
</html>