<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- CSS読み込み -->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/user/detail.css}">
		<link rel="stylesheet" th:href="@{/css/layout/layout.css}">
		<!--JS読み込み-->
		<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
		<title>ユーザ詳細画面</title>
	</head>
	<body>
		<div layout:fragment="content">
			<header>
			    <h1 class="h1">ユーザ詳細</h1>
			</header>
		    <form th:action="@{/detail}" method="post" th:object="${muser}">
		        <input type="hidden" th:field="*{mailAddress}"/>
		        
		        <!-- ユーザ詳細情報 -->
		        <table class="table table-striped table-bordered table-hover">
		            <tbody>
		                <tr>
		                    <th class="w-25">メールアドレス</th>
		                    <td th:text="*{mailAddress}"></td>
		                </tr>
		                <tr>
		                    <th>ニックネーム</th>
		                    <td>
		                        <input type="text" class="form-control" th:field="*{name}"/>
		                    </td>
		                </tr>
		                <tr>
		                    <th class="w-25">保有ポイント</th>
		                    <td>
		                        <span th:text="*{point}"></span>
		                    </td>
		                </tr>
		            </tbody>
		        </table>        
		            <!-- 削除ボタン（管理者のみ表示） -->
		            <th:block th:if="${#authentication.principal.authorities.?[authority == 'ROLE_ADMIN'].size() > 0}">
		                <button class="btn btn-danger" type="submit" name="delete">削除</button>
		            </th:block>
		            <!-- 更新ボタン -->
		            <button class="btn btn-primary" type="submit" name="update">更新</button>
		    </form>
			 <!-- 販売中の商品 -->
			 <h2> 出品中の商品</h2>
			 <table class="table table-striped table-bordered tale-hover">
			 	<tr>
			 		<th class="w-25">商品名</th>
			 		<th>価格</th>
					<th>コメント</th>
					<th></th>
					<th></th>
			 	</tr>
			 	<tr th:each="item:${itemList}">
					<form th:action="@{/mypage/update-item}" method="post">
						<td>
							<input type="text" name="itemName" th:value="${item.itemName}"/>
							<!-- <div th:errors="${item.itemName}"></div> -->
						</td>
						<td>
							<input type="text" name="itemPrice" th:value="${item.itemPrice}"/>
							<span>ポイント</span>
							<!-- <div th:errors="*{itemPrice}"></div> -->
						</td>
						<td>
							<input type="text" name="comment" th:value="${item.comment}"/>
							<!-- <div th:errors="*{comment}"></div> -->
						</td>
						<td>
							<input type="hidden" name="userId" th:value="${muser.userId}"/>
							<input type="hidden" name="itemId" th:value="${item.itemId}"/>
							<button type="submit" name="update">
								更新
							</button> 
						</td>
						<td>
							<button class="btn btn-danger" type="submit" name="delete">
								削除
							</button> 
						</td>
					</form>
			 	</tr>
			 </table>
			 <form th:action="@{/mypage}" method="post">
			 	<input type="hidden" th:field="${muser.userId}"/>
			 	<input type="submit" value="戻る"/>
			 </form>
		</div>
	</body>
</html>



