<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--CSS読み込み-->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/mypage/mypage.css}">
		<!--JS読み込み-->
		<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
		<title>マイページ</title>
	</head>
	<body>
		<div layout:fragment="content">
		<div class="header border-bottom">
					<h1 class="h2">マイページ</h1>
		</div>
		<table th:object="${muser}">
			<tr>
				<th>ユーザ名</th>
				<td>
					<span th:text="*{name}"></span>

				</td>
			</tr>
			<tr>
				<th class="w-25">メールアドレス</th>
				<td>
					<span type="text" th:text="*{mailAddress}"></span>
				</td>
			</tr>
		</table>
		
		<form th:action="@{/mypage/details}" method="post">
			<input type="hidden" th:field="${muser.userId}"/>
			<input type="submit" value="詳細"/>
		</form>
					
		<form th:action="@{/item-list}" method="post">
			<input type="hidden" th:field="${muser.userId}"/>
			<input type="submit" value="商品一覧へ"/>
		</form>
		<form th:action="@{/sales/sales-form}" method="post">
			<input type="hidden" th:field="${muser.userId}"/>
			<input type="submit" value="出品する">
		</form>
		</div>
	</body>
</html>