<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>入金確認</title>
</head>
<body>
<formdiv layout:fragment="content">
    <h1>入金確認</h1>
    <p>以下の内容で入金を行います。</p>
    <table>
        <tr>
            <th>追加ポイント</th>
            <td th:text="${amount}"></td>
        </tr>
    </table>
    <form th:action="@{/deposit/complete}" method="post">
        <input type="hidden" name="userId" th:value="${userId}" />
        <input type="hidden" name="amount" th:value="${amount}" />
        <input type="submit" value="入金を確定する" />
    </form>

	<form th:action="@{/deposit/deposit-form}" method="post">
	    <input type="hidden" name="userId" th:value="${userId}" />
	    <input type="submit" value="戻る" />
	</form>
</body>
</html>