<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>決済成功</title>
</head>
<body>
	<div layout:fragment="content">
	    <h1>決済完了</h1>
	    <p th:text="${message}"></p>
		<p>ご利用可能残高: <span th:text="${point}"></span> ポイント</p>
		<form th:action="@{/mypage}" method="post">
			<input type="hidden" name="userId" th:value="${userId}" />
		    <input type="submit" value="マイページへ戻る" />
		</form>
		<form th:action="@{/item-list}" method="post">
			<input type="hidden" name="userId" th:value="${userId}" />
			<input type="submit" value="商品一覧へ"/>
		</form>
	</div>
</body>
</html>